body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
  border: rgb(253, 251, 251);
}

.fonte {
  font-family: fantasy;
  font-size: medium;
  color: blue;
  line-height: 1.5;
}

#minha_foto {
  width: 500px;
}

.lado-esquerdo {
  margin: 2px;
  padding: 50px;
  border: rgb(253, 251, 251) solid;
  width: 300px;
  display: inline-block;
}

.lado-direito {
  margin: 2px;
  padding: 50px;
  border: rgb(253, 251, 251) solid;
  width: 300px;
  display: inline-block;
}
